<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Paises</title>
</head>
<body>
  <header><h1>CONTINENTES: </h1></header>
 <table class="table table-striped table-dark">
  <thead class="thead-light table table-success table-striped">
    <tr>
      <th>Nombre</th>
      <th>Poblacion</th>
      <th>Superficie</th>
      <th>N_Paises</th>
      <th>Paises</th>
      <th>Capitales</th>
      <th>Moneda</th>
    </tr>
  </thead>
  <tbody>
    {% for continente in continentes %}
    <tr>
      <td rowspan="{{ continente.estados | length }}">{{continente.nombre}}</td>
      <td rowspan="{{ continente.estados | length }}">{{continente.poblacion}}</td>
      <td rowspan="{{ continente.estados | length }}">{{continente.superficie}}</td>
      <td rowspan="{{ continente.estados | length }}">{{continente.no_paises}}</td>
      {% for pais in continente.estados %}
        <td>{{  pais.nom  }}</td>
        <td class="table-danger">{{  pais.cap  }}</td>
        <td>{{  pais.mon  }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
  <tfoot></tfoot> 
</table>


  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      {% for pais in paises%}
      <tr>
        <td>{{pais}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot></tfoot> 
  </table> -->

</body>
</html>